.info h3, .info p{
    margin-top: 20px;
    margin-bottom: 15px;
}

.info .img-details{
    clear: both;
    height: fit-content;
    margin-bottom: 65px;
}

.info .details .author:last-child {
    color: red;
}

.info .image{
    float: left;
    margin-right: 20px;
}

@media(max-width: 400px){
    .info .image{
        float: none;
  
    }
}